hr {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    background-color: rosybrown;
}

.vl {
    border-left: 6px solid rosybrown;
    height: 500px;
  }

.leftside {
    background-image: url(https://i.pinimg.com/originals/a6/02/43/a60243ad8592bb3dbb11f749ed1f3fc1.jpg);
}

.hr1 {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
    background-color: rosybrown;
}